[submodule "themes/hugo-casper3"]
	path = themes/hugo-casper3
	url = https://github.com/jonathanjanssens/hugo-casper3.git
[submodule "themes/--force"]
	path = themes/--force
	url = https://github.com/jonathanjanssens/hugo-casper3.git
